/* FONTS */
@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: "OpenSans";
    font-style: italic;
    src: url('/fonts/OpenSans-Italic.ttf');
}

@font-face {
    font-family: "OpenSans";
    font-weight: bold;
    src: url('/fonts/OpenSans-Bold.ttf');
}

/* */
body {margin: 0; background-color: #EEE;}
a {color: #333;  font-weight: bold;}
::-webkit-scrollbar {
    display: none;
}

.links {
    text-align: center;
}

.link-icon {
    font-size: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.link-icon:hover {
    color: #444;
}

/* General Container */
.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'OpenSans';
    color: #333;
}



/* PROFILE */
.profile {
    width: 100%;
    max-width: 900px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(50vh - 200px);
    text-align: center;
}

.profile-img {
    margin-top: 10px;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    webkit-animation-name: animateSize;
    webkit-animation-duration: 1s;
    animation-name: animateSize;
    animation-duration: 1s;

    transition-duration: 1s;
}

.profile-img:hover {
    cursor: pointer;
}

.profile-name {
    font-size: 52px;
    font-weight: bold;
    webkit-animation-name: animateOpacity;
    webkit-animation-duration: 1s;
    animation-name: animateOpacity;
    animation-duration: 1s;
}

/* TABLE OF CONTENT */
.content-links {
    display: list-item;
    margin-left: 25px;
    font-size: 20px;
}

/* DESCRIPTION */
.description {
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.description-text {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.competences, .experiences, .formation, .realisation, .table-content {
    margin-left: 10px;
    margin-right: 10px;
}

.experience-description {
    margin-top: 20px;
}

.experience-div {
    margin-bottom: 30px;
}

.label {
    font-size: 22px;
    font-weight: bold;
    margin-top: 25px;
}

.title {
    font-size: 36px;
    font-weight: bold;
}

.label-small {
    font-size: 16px;
}

.grey {
    color: #ddd;
}

.made {
    font-size: 11px;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 15px;
}

/* BAR */
.bar {
    height: 30px;
    width: 100%;
}

.bar-wrap {
    background: #ddd;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
    border-radius: 25px;
}
.bar-value {
    width: 0;
    background: #333;
    font-size: 17px;
    text-align: center;
    color: #333;
}
.bar-text {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 0;
    bottom: 0;
    font-size: 18px;
    font-weight: bold;
    margin-top: 2px;
}

/* TRANSITIONS */
@keyframes animateSize {
    from {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        opacity: 0.5;
    }
    to {
        width: 300px;
        height: 300px;
        border-radius: 150px;
        opacity: 1;
    }
}

@keyframes animateOpacity {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

@keyframes animateCirculare {
    from {
        opacity: 0.2;
        -webkit-transform: rotate(90deg);
    }
    to {
        opacity: 1;
        -webkit-transform: rotate(0deg);
    }
}