/* FONTS */
@font-face {
    font-family: 'Meslo';
    src: url('/fonts/Meslo.otf');
}

.terminal {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -286px 0 0 -445px;
  width: 890px;
  -webkit-box-shadow: 2px 20px 59px -1px rgba(0,0,0,0.64);
  -moz-box-shadow: 2px 20px 59px -1px rgba(0,0,0,0.64);
  box-shadow: 2px 20px 59px -1px rgba(0,0,0,0.64);
  border-radius: 6px;
  -webkit-animation-name: animatesize;
  -webkit-animation-duration: 1s;
  animation-name: animatesize;
  animation-duration: 1s;
  transition: box-shadow .3s linear;
}
.terminal:active {
   cursor:move;
   box-shadow:0 20px 50px rgba(0,0,0,.9);
}
.terminal-header {
  height: 20px;
  background-color: #EBEBEB;
  background: -webkit-linear-gradient(#EBEBEB, #D6D5D3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#EBEBEB, #D6D5D3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#EBEBEB, #D6D5D3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#EBEBEB, #D6D5D3); /* Standard syntax */
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  border: 1px #D6D6D6 solid;
}
.terminal-content {
  width: 880px;
  height: 540px;
  background-color: #111;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #EEE;
  padding: 5px;
  font-size: 15px;
  font-family: monospace;
}
.terminal-buttons-grp {
  margin-left: 6px;
  padding-top: 1px;
}
.terminal-buttons {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-top: 3px;
  margin-left: 4px;
  display: inline-block;
}
.terminal-buttons:hover {
  cursor: pointer;
}
.terminal-title {
  margin-left: auto;
  margin-right: auto;
  padding-right: 62px;
  font-family: 'Meslo';
}
.red {
  background-color: #FD5F60;
  border: 1px #BF6F6E solid;
}
.yellow {
  background-color: #FCB944;
  border: 1px #D4AF61 solid;
}
.green {
  background-color: #30C641;
  border: 1px #639F6B solid;
}

@-webkit-keyframes animatesize {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    transform: scale(0.8);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animatesize {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    transform: scale(0.8);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
