/* FONTS */
@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: "OpenSans";
    font-style: italic;
    src: url('/fonts/OpenSans-Italic.ttf');
}

@font-face {
    font-family: "OpenSans";
    font-weight: bold;
    src: url('/fonts/OpenSans-Bold.ttf');
}

body {
    margin: 0px;
    overflow: hidden;
    background: linear-gradient(to left top, rgba(17,16,21, 1) 0%,rgba(26,25,30, 1) 50%, rgba(34,33,39, 1) 100%);
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.head {
    width: 100%;
    height: 100px;
    display: inline-flex;
    align-items: center;
    flex-direction: row-reverse;
    position: absolute;
    top: 0px;
    z-index: 10;
}

.foot {
    position: absolute;
    bottom: 0px;
    margin-left: 50px;
}

.menu-link {
    margin-right: 80px;
    color: rgb(149, 151, 155);
}

.planet {
    background: linear-gradient(to left top, rgba(4,6,10, 1) 0%,rgba(19,19,24, 1) 50%, rgba(30,29,36, 1) 100%);
    width: 40vw;
    height: 40vw;
    position: absolute;
    left: calc(50% - (20vw));
    top: calc(50% - (20vw));
    border-radius: 50%;
    animation: straightLine 2s ease;
}

.infos {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 50px;
    color: white;
    display: -webkit-inline-box;
}

.text {
    margin-top: calc(50vh - 140px);
    animation: from-bottom 1s ease;
    text-align: initial;
    display: none;
}

.app-store {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 151px;
    height: 41px;
    font-size: 20px;
    margin-top: 60px;
    border: 1px solid transparent;
    border-radius: 16px;
    background: linear-gradient(black, black);
    background-clip: padding-box;
    padding: 10px;
}

.app-store::after {
    position: absolute;
    font-size: 24px;
    width: 175px;
    height: 65px;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(to right, rgb(125, 72, 25), rgb(128, 21, 64));
    content: '';
    z-index: -1;
    border-radius: 16px;
}


.small-txt {
    font-size: 12px;
    line-height: 7px;
    color: #AAA;
    margin-top: 7px;
}

.logo {
    width: 25px;
    height: 32px;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: -4px;
}

.grey {color: rgb(70, 71, 73); display: inline;}
.lgrey {color: rgb(109, 110, 113); display: inline;}
.llgrey {color: rgb(149, 151, 155); display: inline;}



@keyframes from-bottom {
    0%   { opacity: 0; margin-top: calc(50vh);}
    50%  {opacity: 1;}
    100% { opacity: 1; margin-top: calc(50vh - 140px);}
}

@keyframes straightLine {
    0%   {
        opacity: 0;
        left: calc(50%);
        top: calc(50%);
    }
    20% {
        opacity: 1;
    }
    100%  {
        left: calc(50% - (20vw));
        top: calc(50% - (20vw));
    }
}
